*{ 
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0px;
}

.header{
    position: relative;
    background:url("../img/sample2.jpg") no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    padding: 0;
    margin: 0;
    border: none;
    background-position: center;
}
.logo{
    color: white;
    font-family: 'Open Sans';
    padding: 2% 0% 0% 4%;
    font-size: 122%;
    letter-spacing: 5px;
}
.header_heading{
    top: 35%;
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans';
    position: absolute;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 390%;
    letter-spacing: 19px;
    font-weight: 100;
}
.end{
    font-size: 177%;
}
.header_text{
    display: flex;
    flex-direction: row;
    border: none;
    font-family: 'Open Sans';
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    color: white;
    bottom: 5%;
}

.header_upbutton{
    display: flex;
    position: absolute;
    right: 4%;
    top: 4%;
}
.header_button_conf:hover {
  cursor: pointer;
}
.header_button_conf{
    color: white;
    background: none;
    border: none;
    font-family: 'Open Sans';
    font-size: 16px;
    margin: 0px 22px 0 22px
}
.header_do{
    position:absolute;
    display:flex;
    justify-content: center;
    align-content: center;
    bottom: 0px;
    height: 20%;
    width: 100%;
}
.header_downbutton{
    margin: 0px 50px 0 50px;
    border: 2px solid white;
    color: white;
    width: 250px;
    height: 50px;
    background: none;
    font-family: 'Open Sans';
}
.header_downbutton:hover {
    cursor: pointer;
}
.header::after{
    content: '';
    display: block;
    height: 200px;
    background: #000;
    position: absolute;
    width: 100%;
    bottom: -182px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    z-index: 3;
}


.section{
    padding-top: 160px;
    background-color: #F0F0F0;
    position: relative;
    top: -18px;
  
}


.header_text1{
    color: #ffffff;
    position: absolute;
    width: 50%;
    right: 0;
    font-family: 'Open Sans';
    font-size: 103%;
    z-index: 4;
    bottom: -11%;
}
.header_text2{    
    position: absolute;
    color: black;
    font-family: 'Open Sans';
    font-size: 126%;
    left: 4%;
    width: 36%;
    bottom: -20%;
    z-index: 1;
}

.section_text{
    text-align: center;
    color: black;
    font-size: 35px;
    font-family: 'Open Sans';
}
.mbolder{
    font-size: 126%;
    font-weight: 700;
}
.tm-content-box-img{
    width: 50%;
    overflow: hidden;

}
.img-fluid{
    width: 100%
}

.tm-content-box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 3% 0 3%;
  
}
.tm-section-title {
 
    width: 50%;
    font-family: 'Open Sans';
    white-space: pre-line;
    text-align: center;
    margin: 0

}
.tm-content-box-header{
    position: absolute;
    bottom: 8%;
    left: 5%;
    color: white;
    font-family: 'Open Sans';
    font-size: 150%;
}
.tm-content-box-header1{
    position: absolute;
    bottom: 8%;
    right: 27%;
    color: white;
    font-family: 'Open Sans';
    font-size: 150%;
}
  

.tm-content-box-button{
    position: absolute;
    right: 52%;
    top: 5%;
    width: 6%;
    height: 9%;
    border: white 2px solid;
    font-family: 'Open Sans';
    color: white;
    background-color: rgba(0, 0, 0, 0.3);}

.tm-content-box-button1{
    position: absolute;
    right: 5%;
    top: 5%;
    width: 6%;
    height: 9%;
    border: white 2px solid;
    font-family: 'Open Sans';
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}
.imagelist{
  display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: white;
    position: relative;
    height: 450px;
  
    }
.img-list{
    height: 100%;
}
.featured-article__header{

    position: absolute;
    bottom: 46px;
    margin-left: 1%;
    font-size: 116%;
    font-family: 'Open Sans';
    color: white;
    font-weight: 100;
}
.imagelist_item{
    width: 25%;
    height: auto;
    overflow: hidden;
    margin: 3%;
}
    
.button_exp{
    top: 45%;
    position: absolute;
    margin: 1%;
    width: 17%;
    height: 12%;
    border: none;
    font-family: 'Open Sans';
    color: rgba(255, 255, 255, 0.69);
    font-weight: 900;
    background-color: rgba(9, 119, 116, 0.86);
    text-align: center;
    font-size: 130%;
}
.button_exp:hover{
    cursor: pointer;
}
.featured-article__button{
    top: 12%;
    position: absolute;
    margin: 0 0 0 14%;
    width: 4%;
    height: 7%;
    border: white 2px solid;
    font-family: 'Open Sans';
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}
.featured-article__button:hover{
    cursor: pointer;

} 



.button_news{   
    height: 50px;
    width: 280px;
    background-color: #097774;
    color: white;
    font-size: 100%;
    font-family: 'Open Sans';
    border: none;
}
.button_news:hover{
  cursor: pointer;
}
.bottom_content_box{
    background: #F0F0F0;
    position: relative;


}

.bottom_content_box_text{
    padding: 2% 2% 2% 2%;
    font-family: 'Open Sans';
    white-space: pre-line;
}
.formposition{
    background-color: #F0F0F0;
    display: flex;
    position: absolute;
    right: 0px;
    width: 100%;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
}

.form-control{
   
    width: 90%;
    height: 41px;
    border: 2px black solid;
    text-align: center;
}
.subscribe-btn{
    width: 18%;
    height: 41px;
    font-family: 'Open Sans';
    border: none;
    background-color: #097774;
    color: white;
    font-size: 114%;
    margin: 1%;
}
.bottom_content_box_button_text{
    font-size: 154%;
    font-family: 'Open Sans';
}
.subscribe-btn:hover{
    cursor: pointer;
}
.footer{
    position: relative;
    margin: 3% 0 0 0;
}
.footer__wrapper {
    border-top: 2px solid #f0f0f0;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    color: #9E9E9E;
    font-family: 'Open Sans';
}

.footer__navigation {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.footer__navigation__item {
    font-family: 'Open Sans';
    color: #343638;
    text-decoration: none;
}

.button_news-wraper{
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}