$headerBkGr: url(../img/m-h-night.jpg) no-repeat 0;
$mainBkGr: #21232e;
$buttonColor: #e3ac00;
$backtable:#3b3f50;
$headercolor: rgb(255, 255, 255);
$underlineColor: #ff4e33;
$sectionTextColor: rgba(255, 255, 255, 0.692) ;
$footerBkGr: #3b3f50;
$gradient: linear-gradient(0.25turn, #dca206, #98354c);