$headerBkGr: url(../img/m-h-day.jpg) no-repeat 0;

$mainBkGr: white;

$buttonColor: #699900;

$backtable:#3b3f50;

$headercolor: rgb(46, 48, 61);

$underlineColor: rgb(23, 162, 200);

$sectionTextColor: rgba(255, 255, 255, 0.692) ;

$footerBkGr: #3b3f50;

$gradient: linear-gradient(0.25turn, #649410, #2f5dd0);
